body {
  background-color: #000;
  color: #fff;
  font-family: monospace;
  font-size: 1.5vh;


}
a{color: green;}
.words{color: red;}
h1{text-align: center;}
.image-container {
  display: flex;
  margin-top: 20px;
  margin-left: 25%;
}
.image-container img {width: 50vw;max-width: 1000px;}

.terminal {
  width: 85vw;
  margin-top: 50px;
  margin-left: 3.5vw;
  margin-right: 3.5vw;
  border: 2px solid #fff;
  padding: 20px;
}
#about{
  margin-top: 50px;
  margin-left: 3.5vw;
  width: 90vw;
  font-size: 2vh;
}
.input {
  display: flex;
}

.input span {
  color: #0f0;
  margin-right: 5px;
}

.input input {
  background: transparent;
  border: none;
  color: #fff;
  font-family: monospace;
  font-size: inherit;
  outline: none;
  width: 90vw;
}
#output {
  height: 45vh;
  overflow-y: scroll;
  overflow-wrap: break-word;
  color: white;
}
